Installer/configuration.dtd

<!ELEMENT configuration (defaults,nodes,ssh)>
<!ELEMENT defaults (username,installationDirectory)>
<!ELEMENT nodes (node+)>
<!ELEMENT node (hostname,port?,username?,installationDirectory?)>
<!ELEMENT hostname (#PCDATA)>
<!ELEMENT port (#PCDATA)>
<!ELEMENT username (#PCDATA)>
<!ELEMENT installationDirectory (#PCDATA)>
<!ELEMENT ssh (sshKeyFile?)>
<!ELEMENT sshKeyFile (#PCDATA)>
